<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>image search</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>

<body>
  {% if image_list %}
  <h3>이미지를 클릭해주세요</h3>
  {% else%}
  <h3>일치하는 이미지를 못찾았어요 ㅠ</h3>
  {% endif %}
  <div class="row">
    {% for image in image_list %}
    <div class="col-3 mb-4">
      <div class="card h-100">
        <img src="{{image}}" id="{{kind}}" class="card-img-top" onclick="imgClick(src, id)" alt="...">
      </div>
    </div>
    {% endfor %}
  </div>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
    crossorigin="anonymous"></script>

  <script>
    function imgClick(isrc, ikind) {
      if (ikind === 'poster') {
        opener.document.cookie = `selected_img=${isrc}`
      } else {
        opener.document.cookie = `selected_back=${isrc}`
      }
      
      close()
    }

  </script>

</body>

</html>